body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #CFDDF1;
  max-width: 1024px;
  width: 80%;
  margin: auto;
}

.logo {
  display: block;
  position: relative;
  width: 256px;
  margin-top: 50px;
}

.content {
  width: 100%;
  display: block;
  position: relative;
  margin-top: 300px;
}

.content p {
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}

.footer {
  display: block;
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;
}

.footer p {
  font-size: 16px;
  text-align: right;
}

.footer a.twitter {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/twitter-black.png);
  background-size: cover;
}

.footer a.twitter:hover {
  background: url(../images/twitter-white.png) repeat 0 0;
  background-size: cover;
}
